@using System.Web.UI.WebControls
@using Amaris.Select2.HtmlHelpers
@model CountryStrategy.Models.Partial.OcpModelView

<style>
    .modal-dialog {        
        margin: 10% auto;
    }
</style>

@using (Html.BeginForm("SaveOcpModal", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "addPanel" }))
{
    @Html.AntiForgeryToken()
    <!-- Hidden Field QuesitonID if Edit Form (Model not null) -->
    var typeName = "";
    if (Model != null && Model.OpeningCountryPriority.PriorityId != null)
    {
        typeName = "Edit";
        @Html.HiddenFor(model => model.OpeningCountryPriority.PriorityId);
    }
    else
    {
        typeName = "Add";
    }
    <!-- --------------------------- MODAL --------------------------- -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModal-label">@typeName Country Opening Priority</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="col-md-2"><label class="control-label">Priority Type</label></div>
                <div class="col-md-4">
                    @Html.Select2AjaxFor(x => x.OpeningCountryPriority.PriorityTypeId, Url.Action("GetPriorityTypeList", "Home"),
                    new Select2Option() { Placeholder = "Choose Priority Type", AllowClear = true, MinimumInputLength = 0 }, new { })
                </div>


                <div class="col-md-2"><label class="control-label">Deadline Type</label></div>
                <div class="col-md-4">
                    @Html.Select2AjaxFor(x => x.OpeningCountryPriority.DeadlineTypeId, Url.Action("GetDeadlineTypeList", "Home"),
                    new Select2Option() { Placeholder = "Choose Dealine Type", AllowClear = true, MinimumInputLength = 0 }, new { })

                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <div class="col-md-2"><label class="control-label">Country</label></div>
                <div class="col-md-4">
                    @Html.Select2AjaxFor(x => x.OpeningCountryPriority.CountryId, Url.Action("GetCountryList", "Home"), new Select2Option() { Placeholder = "Choose Country", AllowClear = true, MinimumInputLength = 0 }, new { required = "required" })
                    <span style="color: red">@Html.ValidationMessageFor(model => model.OpeningCountryPriority.CountryId)</span>
                </div>


                <div class="col-md-2"><label class="control-label">Deadline Date</label></div>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.OpeningCountryPriority.DeadlineDate, new { @class = "datepicker input-small form-control", PlaceHolder = "Click to choose date" })
                    <span style="color: red">@*@Html.ValidationMessageFor(model => model.OpeningCountryPriority.DeadlineDate)*@</span>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <div class="col-md-4"><label class="control-label">Director</label></div>

                <div class="col-md-4"><label class="control-label">AFM</label></div>

                <div class="col-md-4"><label class="control-label">Corporate Development</label></div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <div class="col-md-4">
                    @Html.Select2AjaxFor(x => x.OpeningCountryPriority.DirectorId, Url.Action("GetEmployeeList", "Home"),
                                       new Select2Option() { Placeholder = "Choose Director Name...", AllowClear = true, MinimumInputLength = 0 }, new { })
                </div>

                <div class="col-md-4">
                    @Html.Select2AjaxFor(x => x.OpeningCountryPriority.AFMId, Url.Action("GetEmployeeList", "Home"),
                                      new Select2Option() { Placeholder = "Choose AFM Name...", AllowClear = true, MinimumInputLength = 0 }, new { })
                </div>

                <div class="col-md-4">
                    @Html.Select2AjaxFor(x => x.OpeningCountryPriority.CorpDevId, Url.Action("GetEmployeeList", "Home"),
                                      new Select2Option() { Placeholder = "Choose CorpDev Name...", AllowClear = true, MinimumInputLength = 0 }, new { })
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <div class="col-md-3">@Html.LabelFor(model => model.OpeningCountryPriority.Comment, new { @class = "control-label" })</div>
                <div class="col-md-9"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">@Html.TextAreaFor(model => model.OpeningCountryPriority.Comment, new { @class = "form-control", PlaceHolder = "Input your comment here..." })</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class=" col-md-12">
            <div class="col-md-6">
                <input type="submit" class="btn btn-primary col-md-12" value="@typeName" />
            </div>
            <div class="col-md-6">
                <input type="button" class="btn btn-default col-md-12" data-dismiss="modal" value="Close" />
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $.validator.unobtrusive.parse($('#addPanel'));
    $('.datepicker').removeAttr("data-val-date");
    // For displaying datepicker on modal:
    // must change value "10" to "1510" in file bootstrap-datepicker.js on line 605: var zIndex = Math.max.apply(Math, parentsZindex) + 1510;
    $('.datepicker').datepicker({
        changeMonth: true,
        changeYear: true,
        selectOtherMonths: true
    });
</script>
