@using Amaris.Security


@{
    ViewBag.Title = "Unauthorized";

    var employee = ViewBag.Employee as IEmployee;
    var employeeInfo = employee == null ? "No info" : String.Format("{0} {1} | {2} | {3}", employee.Firstname, employee.Lastname, employee.EmployeeId, employee.Trigram);

}

@section head{
    <style type="text/css">
        #technical tbody tr th {
            font-weight: normal;
            color: darkgray;
        }
    </style>
}

@if ((bool)ViewBag.IsAjax)
{

    <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close" aria-hidden="true">×</button>

        <h4>Sorry, you don't have access to this page.</h4>
    </div>
    <div class="modal-body">
        <img src="/Images/NoAccess-small.png" alt="No Access" />
        &nbsp;
        &nbsp;
        If you are supposed to have access, please contact
        <a data-toggle="tooltip" data-placement="bottom" title="Send details to Helpdesk Team" href="mailto:911@amaris.com?subject=[@ViewBag.ApplicationName] Access Issue&amp;body=%0D%0A%0D%0A%0D%0ATechnical Details:%0D%0A%0D%0AApplication: @ViewBag.ApplicationName%0D%0AController: @(ViewBag.ControllerName)%0D%0AAction: @(ViewBag.ActionName)%0D%0AURL: @ViewBag.Url%0D%0ALogin: @User.Identity.Name%0D%0AEmployee: @employeeInfo">911</a>
    </div>

    <div class="modal-footer">
        <button data-dismiss="modal" class="btn">Close</button>
    </div>

}
else
{


    <div style="margin: auto; width: 100%; text-align: center;">
        <img src="/Images/NoAccess.png" alt="No Access" />
        <h2>Sorry, you don't have access to this page.</h2>
        <h5>
            If you are supposed to have access, please contact
            <a data-toggle="tooltip" data-placement="bottom" title="Send details to Helpdesk Team" href="mailto:911@amaris.com?subject=[@ViewBag.ApplicationName] Access Issue&amp;body=%0D%0A%0D%0A%0D%0ATechnical Details:%0D%0A%0D%0AApplication: @ViewBag.ApplicationName%0D%0AController: @(ViewBag.ControllerName)%0D%0AAction: @(ViewBag.ActionName)%0D%0AURL: @ViewBag.Url%0D%0ALogin: @User.Identity.Name%0D%0AEmployee: @employeeInfo">911</a>
        </h5>
    </div>



    <br />
    <br />
    <a data-toggle="#details" class="btn btn-small" href="#details">Technical Details&nbsp;<i class="icon-plus"></i></a>
    
    <table style="width: 200px" class="table table-striped" id="technical">
        <tbody id="details" class="hidden">
            <tr>
                <th>
                    Application
                </th>
                <td>
                    <code>@ViewBag.ApplicationName</code>
                </td>
            </tr>
            <tr>
                <th>
                    Controller
                </th>
                <td>
                    <code>@ViewBag.ControllerName</code>
                </td>
            </tr>
            <tr>
                <th>
                    <div>Action</div>
                </th>
                <td>
                    <code>@ViewBag.ActionName</code>
                </td>
            </tr>
            <tr>
                <th>Login</th>
                <td><code>@User.Identity.Name</code></td>
            </tr>
            <tr>
                <th>Server</th>
                <td><code>@Environment.MachineName</code></td>
            </tr>
            <tr>
                <th>Employee</th>
                <td>
                    <code>
                        @employeeInfo
                    </code>
                </td>
            </tr>
            @if (employee.IsInRole("ParentBusinessService", "Index", "Clips"))
            {
                <tr>
                    <th>Clips</th>
                    <td>
                        <a href="/Clips/ParentBusinessService/RedirectTo/@ViewBag.ApplicationName" target="_blank">Go</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
@section Scripts
{
    <script type="text/javascript">

        function Toggle(source, elt) {
            elt.toggleClass('hidden');
            source.find('i').toggleClass('icon-plus');
            source.find('i').toggleClass('icon-minus');
        }

        $('a[data-toggle]').click(function () {
            Toggle($(this), $($(this).data('toggle')));
        });
        $('[data-toggle=tooltip]').tooltip();

        $(document).ready(function () {
            Toggle($('a[href=' + window.location.hash + ']'), $(window.location.hash));
        });
    </script>
}
