@using Amaris.Security
@using Amaris.XEditable.Extensions
@model OrderDetailsModel
@{
    ViewBag.Title = "_TotalCost";
}


<div class="row-fluid">
    <div class="span2 offset10" id="totalCost" data-url="@Url.Action("GetTotalCostPartial", "Home", Model )">
        <p>Total Cost: </p>
        @Model.TotalCost
        @Html.XEditable(Model, req => req.CurrencyId, req => req.OrderId, @Url.Action("UpdateOrderCurrencies", "OrderDetails"), @Url.Action("GetCurrencies", "OrderDetails"), options: new XEditableOptions
        {
            HtmlAttributes = new { id = "requestCurrency" },
            XEditableType = XEditableType.Select2,
            CanEdit = false,
            OnSave = "updateOrderCost"
        })
    </div>
</div>


